### How to import datasets in python using pandas libraries
Written by : Dr. Muhammad Asif\
Date       : 10-07-2023\
Email      : asifbwp917@gmail.com

In [1]:
# Import Libraries
import pandas as pd  # Data manipulation library

In [2]:
# reading / importing datasets with name 
df = pd.read_excel("pandas_01_day6.xlsx") # write the path if you want to load data from day_01 to day_06

### View Dataframe in python using pandas

In [3]:
df

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]

In [4]:
df.head()

  Height  Weight Favourite Dish
0    5.8     101  Chicken Pulao
1    6.2      92        Biryani
2    5.9      62  Karahi Ghosht
3    5.9      95  Chicken Pulao
4    5.9      55  Chicken Pulao

In [5]:
df.tail()

   Height  Weight Favourite Dish
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

In [6]:
df.shape

(87, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     object
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB