### How to import datasets in python using pandas libraries
Written by : Dr. Muhammad Asif\
Date       : 10-07-2023\
Email      : asifbwp917@gmail.com

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("pandas_01_day6.xlsx")

### View Dataframe in python using pandas

In [3]:
df

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [4]:
df.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [5]:
df.tail()

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [6]:
df.shape

(87, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [8]:
df['Height'] = df['Height'].astype('int') # Assignment type casting done

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     int32
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: int32(1), int64(1), object(1)
memory usage: 1.8+ KB

In [10]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [11]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

In [12]:
df.describe

<bound method NDFrame.describe of     Height  Weight Favourite Dish
0        5     101  Chicken Pulao
1        6      92        Biryani
2        5      62  Karahi Ghosht
3        5      95  Chicken Pulao
4        5      55  Chicken Pulao
..     ...     ...            ...
82       5      55          Pasta
83       5      75  Karahi Ghosht
84       5      61        Biryani
85       6      68  Chicken Pulao
86       5      96        Biryani

[87 rows x 3 columns]>

In [13]:
df.describe()

          Height      Weight
count  87.000000   87.000000
mean    5.114943   70.459770
std     0.320802   16.753899
min     5.000000   25.000000
25%     5.000000   60.000000
50%     5.000000   70.000000
75%     5.000000   80.000000
max     6.000000  125.000000

In [14]:
##### how to select column from a dataset

In [15]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
Height,5,6,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,6,5
Weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
Favourite Dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [16]:
df.sort_index(ascending=False)

    Height  Weight Favourite Dish
86       5      96        Biryani
85       6      68  Chicken Pulao
84       5      61        Biryani
83       5      75  Karahi Ghosht
82       5      55          Pasta
..     ...     ...            ...
4        5      55  Chicken Pulao
3        5      95  Chicken Pulao
2        5      62  Karahi Ghosht
1        6      92        Biryani
0        5     101  Chicken Pulao

[87 rows x 3 columns]

In [17]:
df.sort_values(by="Weight", ascending=False)

    Height  Weight Favourite Dish
75       6     125    Chapel Kaba
34       6     110    Chapel Kaba
33       5     103    Chapel Kaba
0        5     101  Chicken Pulao
86       5      96        Biryani
..     ...     ...            ...
40       5      50  Chicken Pulao
42       5      49  Chicken Pulao
44       5      48        Biryani
35       5      31        Biryani
26       5      25        Biryani

[87 rows x 3 columns]

In [21]:
// nbconvert conversion of pdf ?
nbconvert my_notebook.ipynb --output-format pdf

SyntaxError: invalid syntax (987299422.py, line 1)